body {
  font-family:georgia,serif;
  color:#333333;
  font-size:12px;
  font-weight:normal;
  line-height:150%;
  padding:0px; 
}
h1, h2, h3, h4, h5 {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px #CCC;
}
#container {
  margin:auto;
  width:980px;
}
a, a:active, a:visited {
  text-decoration: none;
  color: #6b5b00; }

a:hover {
  text-decoration: none;
  color: #a08800; }

#header {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px #CCC;
  width:100%;
  font-size: 16px;
  height:50px;
  a {
    text-shadow: 0px 0px 2px #000;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 64px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #444;
    font-weight: 100;
    text-decoration:none;
    color:#333333;
    padding:0px;
    padding-right:5px;
    padding-left:5px;
    margin:0px;
  }
  margin-top:25px;
}
#nav {
  border-bottom:1px solid #CCCCCC;
  padding-bottom:2px;
  ul {
    list-style:none;
  }
  li {
    display:inline;
    padding-right:10px;
  }
}
#content {
  padding:10px;
  width:100%;
}
#notice {
  width:968px;
  border:1px solid #00FF00;
  background:#CCFFCC;
  padding:5px;
  margin-top:5px;
}
#error {
  width:968px;
  border:1px solid #FF0000;
  background:#FFCCCC;
  padding:5px;
  margin-top:5px;
}
#footer {
  margin:auto;
  width:100%;
  font-size:11px;
  margin-top:25px;
  border-top:1px solid #CCCCCC;
}
.log {
  span {
    padding:1px;
    padding-bottom:2px;
    margin:0px;
  }
  .log_inf {
    background:#CCFFDD;
  }
  .log_wrn {
    background:#FFFFCC;
    font-weight:bold;
  }
  .log_err {
    background:#FFCCCC;
    font-weight:bold;
  }
}
.field {
  width:600px;
}
label {
  width:160px;
  float:left;
  padding-right:5px;
  padding-top:5px;
  text-align:right;
}
table {
  width:98%;
  border:1px solid #DFDFDF;
  background:#EFEFEF;
  th {
    text-align:left;
  }
}
input {
  padding:2px;
  border:1px solid #DFDFDF;
  background:#EFEFEF;
}
input[type="submit"] {
  padding:5px;
  margin-left:167px;
}
pre {
  width:98%;
  overflow:auto;
  padding:4px;
  
}
.adminbox {
  padding:15px;
  background:#FFDDDD;
  border:#FF0000 4px solid;
  h2 {
    text-rendering: optimizeLegibility;
    text-shadow: 0px 0px 1px #CCC;
  }
}