body {
  font-family: georgia,serif;
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  line-height: 150%;
  padding: 0px; }

h1, h2, h3, h4, h5 {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px #CCC; }

#container {
  margin: auto;
  width: 980px; }

a, a:active, a:visited {
  text-decoration: none;
  color: #6b5b00; }

a:hover {
  text-decoration: none;
  color: #a08800; }

#header {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px #CCC;
  width: 100%;
  font-size: 16px;
  height: 50px;
  margin-top: 25px; }
  #header a, #header a:active, #header a:visited {
    text-shadow: 0px 0px 2px #000;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 64px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #444;
    font-weight: 100;
    text-decoration: none;
    color: #333333;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 0.2s, 0.2s;
    -webkit-transition-timing-function: linear, ease-in;
    -o-transition-property: text-shadow;
    -o-transition-duration: 0.2s, 0.2s;
    -o-transition-timing-function: linear, ease-in; }
  #header a:hover {
    text-shadow: 0px 0px 5px #aa8000; }

#nav {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 2px; }
  #nav ul {
    list-style: none; }
  #nav li {
    display: inline;
    padding-right: 10px; }

#content {
  padding: 10px;
  width: 100%; }

#notice {
  width: 968px;
  border: 1px solid #00FF00;
  background: #CCFFCC;
  padding: 5px;
  margin-top: 5px; }

#error {
  width: 968px;
  border: 1px solid #FF0000;
  background: #FFCCCC;
  padding: 5px;
  margin-top: 5px; }

#footer {
  margin: auto;
  width: 100%;
  font-size: 11px;
  margin-top: 25px;
  border-top: 1px solid #CCCCCC; }

.log span {
  padding: 1px;
  padding-bottom: 2px;
  margin: 0px; }
.log .log_inf {
  background: #CCFFDD; }
.log .log_wrn {
  background: #FFFFCC;
  font-weight: bold; }
.log .log_err {
  background: #FFCCCC;
  font-weight: bold; }

.field {
  width: 600px; }

.fieldlabel {
  margin-left: 180px;
  font-style: italic;
  padding: 3px; }

table {
  width: 98%;
  border: 1px solid #DFDFDF;
  background: #EFEFEF; }
  table th {
    text-align: left; }

form h2 {
  margin-left: 167px; }

input:focus {
  border: 1px solid;
  border-color: #a08800;
  background: #f9f1b1; }

input, select {
  font-size: 17px;
  padding: 3px;
  border: 1px solid;
  border-color: #CCCCCC;
  background: #EEEEEE;
  -webkit-transition-property: background, border-color;
  -webkit-transition-duration: 0.1s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -o-transition-property: background, border-color;
  -o-transition-duration: 0.1s, 0.1s;
  -o-transition-timing-function: linear, ease-in; }

input[type="checkbox"] {
  margin-top: 8px;
  margin-left: 5px; }

input[type="submit"] {
  padding: 5px;
  margin-left: 167px; }

label {
  width: 162px;
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  text-align: right; }

pre {
  width: 98%;
  overflow: auto;
  padding: 4px; }

.adminbox {
  padding: 15px;
  background: #FFDDDD;
  border: #FF0000 4px solid; }
  .adminbox h2 {
    text-rendering: optimizeLegibility;
    text-shadow: 0px 0px 1px #CCC; }

.subtleadminbox {
  padding: 5px;
  background: #FFFFDD;
  border: 1px solid #FF9900; }
  .subtleadminbox input {
    border: 1px solid #CCC; }
  .subtleadminbox label {
    width: 100px; }
  .subtleadminbox input[type="submit"] {
    margin-left: 10px; }
