%h1 Help
%p
  If you are having problems with IRIS, please contact your system administrator.

%p
  If you
  %em are
  your system administrator, good luck. Seriously, though - documentation on the system itself is located
  = link_to 'here', 'https://github.com/JamesHarrison/iris'

%p
  You should probably update this page (app/views/welcome/help.html.haml) to provide specific help to your users.