%h1 Welcome to IRIS
%p
  This is the content loading server for Insanity Radio. It allows for remote import and upload of media such as songs, plays, sweepers, jingles and interview clips.

%p
  Access is restricted to Insanity Radio board members and presenters of shows authorized to import content.

%p
  Please log in using the menu above.
