%h1 Welcome to IRIS
%p
  IRIS is a content ingest and processing system for broadcast media.
- if current_user
  %p
    Welcome back. Please use the menus above to upload your content or check the progress of past uploads.
- else
  %p
    Please log in using the menu above to upload content.
