%h1 My Uploads
%p
  Any uploads you have made to the system and their current state are shown below.
%p
  Uploads pass through many states. Once they reach the state of "Imported", the upload is a success and the content can be loaded up in the playout system. If an upload "Needs review", it must be reviewed by an administrator before being passed on to import.
%p
  Uploads that need review have been held back because they have possibly offensive lyrics, or because they do not pass the quality requirements.

%p= link_to 'New Upload', new_upload_path

- if @uploads and @uploads.size > 0
  %table
    %tr
      %th Cart
      %th State
      %th Title/Artist/Filename
      %th

    - @uploads.each do |upload|
      %tr
        %td= upload.cart or "Unknown"
        %td= state(upload.state)
        %td
          - if upload.title and upload.artist
            =link_to (upload.title+" - "+upload.artist), upload
          - else
            =link_to upload.filename, upload
        %td= link_to 'More Details', upload
- else
  %p You have not uploaded any content yet.

