%h1 Upload Content
%p
  Fill out the form below to upload one or more items to IRIS. 

%p 
  Once uploaded, your content will be filtered for explicit lyrics (if possible/applicable), technical quality requirements (bitrate/depth, sample rate, format) and if possible the database will be checked for duplicates.

%p
  All content is normalized and processed for a target loudness range of 8 LU peaking at -23 LUFS in accordance with the European Broadcasters Union recommendation 128 on programme loudness.

= render 'form'

= link_to 'Back', uploads_path
