%h1 Upload Content
%p
  Fill out the form below to upload one or more items to IRIS. 

%p 
  Once uploaded, your content will be filtered for explicit lyrics (if possible/applicable), technical quality requirements (bitrate/depth, sample rate, format) and if possible the database will be checked for duplicates.

= render 'form'

= link_to 'Back', uploads_path
